<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/wordSearch.js"></script>
    <script src =js/humanPlayer.js></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GamePlay</title>



    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- alphabet script -->
    <script src="js/alphabet.js" ></script>


</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <!--<img class="logo-image" src="img/Lime_Logo.png" alt="LJ">-->
        <a class="navbar-brand" onclick = "location.href" href="/">Lime Jotto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick = "location.href" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <button id="logoutBtn" class="nav-link" onclick="logout()" >Log Out</button>
                </li>
            </ul>
        </div>
    </div>
</nav>








<header class="masthead">
    <div class="game">
        <!--Player controls area-->
        <div class="column" style="width:500px">
            <h2 id="humanHeader" th:text="${session.username}" ></h2>
            <div class = "canvasContainer">
                <canvas class="playerCanvas"  width="5000px" height="5000px"></canvas>
            </div>
            <h5 id ="humanLbl">Enter your word:</h5>
            <input id = "humanTxt" type = "text" name = "humanTxt">
            <button id ="humanBtn" name = "humanBtn" onclick="addWordToCanvas()">Submit</button>
        </div>
        <!--Alphabet-->
        <div class="column">
            <table class="alphabetTable" style="background-color: white; width:100%">
                <tr>
                    <td><h5 class="letter" onclick="changeColor(this)">A</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">B</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">C</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">D</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">E</h5></td>
                </tr>
                <tr>
                    <td><h5 class="letter" onclick="changeColor(this)">F</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">G</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">H</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">I</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">J</h5></td>
                </tr>
                <tr>
                    <td><h5 class="letter" onclick="changeColor(this)">K</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">L</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">M</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">N</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">O</h5></td>
                </tr>
                <tr>
                    <td><h5 class="letter" onclick="changeColor(this)">P</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">Q</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">R</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">S</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">T</h5></td>
                </tr>
                <tr>
                    <td><h5 class="letter" onclick="changeColor(this)">U</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">V</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">W</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">X</h5></td>
                    <td><h5 class="letter" onclick="changeColor(this)">Y</h5></td>
                </tr>
                <tr>
                    <td><h5 class="letter" onclick="changeColor(this)">Z</h5></td>
                </tr>
            </table>
        </div>
        <!--AI area-->
        <div class="column">
            <div id ="superContainer">
                <h1 id="cpuHeader" >CPU</h1>
                <div id = "cpuContainer">
                    <canvas id="cpuCanvas"  width="5000px" height="5000px"></canvas>
                </div>
            </div>
        </div>
    </div>
</header>










<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Team Lime</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>