<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script>
        <!-- Adds thymeleaf session.username as a global variable to be used in external JS files -->
        const sessionName = "[[${session.username}]]";
        var letterToColor = {};
    </script>
    <script src="js/pastGames.js"></script>
    <script src="js/wordSearch.js"></script>
    <script src="js/alphabet.js" ></script>
    <script src =js/humanPlayer.js></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GamePlay</title>



    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">



</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <!--<img class="logo-image" src="img/Lime_Logo.png" alt="LJ">-->
        <a class="navbar-brand" onclick = "location.href" href="">Lime Jotto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick = "location.href" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a id="logoutBtn" class="nav-link" th:href="@{/}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>








<header class="masthead">
    <div class="game">
        <!--Player controls area-->
        <div id = "c1" class="column" >
            <h2 id="humanHeader" th:value="${session.username}" th:text="${session.username}" ></h2>
            <!--<div class = "canvasContainer">-->
                <!--<canvas id = "humanCanvas" class="playerCanvas"  width="5000px" height="5000px"></canvas>-->
            <!--</div>-->
            <div class = "canvasContainer" id="humanCanvas">

            </div>
            <h5 id ="humanLbl">Enter your word (lowercase):</h5>
            <input id = "humanTxt" type = "text" name = "humanTxt">
            <button id ="humanBtn" name = "humanBtn" onclick="wordLookup()">Submit</button>
        </div>
        <!--Alphabet-->
        <div class="column">
            <table class="alphabetTable">
                <tr>
                    <td class="text-center"><h5 class="letter" id="a" onclick="changeColor(this)">A</h5></td>
                    <td class="text-center"><h5 class="letter" id="b" onclick="changeColor(this)">B</h5></td>
                    <td class="text-center"><h5 class="letter" id="c" onclick="changeColor(this)">C</h5></td>
                    <td class="text-center"><h5 class="letter" id="d" onclick="changeColor(this)">D</h5></td>
                    <td class="text-center"><h5 class="letter" id="e" onclick="changeColor(this)">E</h5></td>
                </tr>
                <tr>
                    <td class="text-center"><h5 class="letter" id="f" onclick="changeColor(this)">F</h5></td>
                    <td class="text-center"><h5 class="letter" id="g" onclick="changeColor(this)">G</h5></td>
                    <td class="text-center"><h5 class="letter" id="h" onclick="changeColor(this)">H</h5></td>
                    <td class="text-center"><h5 class="letter" id="i" onclick="changeColor(this)">I</h5></td>
                    <td class="text-center"><h5 class="letter" id="j" onclick="changeColor(this)">J</h5></td>
                </tr>
                <tr>
                    <td class="text-center"><h5 class="letter" id="k" onclick="changeColor(this)">K</h5></td>
                    <td class="text-center"><h5 class="letter" id="l" onclick="changeColor(this)">L</h5></td>
                    <td class="text-center"><h5 class="letter" id="m" onclick="changeColor(this)">M</h5></td>
                    <td class="text-center"><h5 class="letter" id="n" onclick="changeColor(this)">N</h5></td>
                    <td class="text-center"><h5 class="letter" id="o" onclick="changeColor(this)">O</h5></td>
                </tr>
                <tr>
                    <td class="text-center"><h5 class="letter" id="p" onclick="changeColor(this)">P</h5></td>
                    <td class="text-center"><h5 class="letter" id="q" onclick="changeColor(this)">Q</h5></td>
                    <td class="text-center"><h5 class="letter" id="r" onclick="changeColor(this)">R</h5></td>
                    <td class="text-center"><h5 class="letter" id="s" onclick="changeColor(this)">S</h5></td>
                    <td class="text-center"><h5 class="letter" id="t" onclick="changeColor(this)">T</h5></td>
                </tr>
                <tr>
                    <td class="text-center"><h5 class="letter" id="u" onclick="changeColor(this)">U</h5></td>
                    <td class="text-center"><h5 class="letter" id="v" onclick="changeColor(this)">V</h5></td>
                    <td class="text-center"><h5 class="letter" id="w" onclick="changeColor(this)">W</h5></td>
                    <td class="text-center"><h5 class="letter" id="x" onclick="changeColor(this)">X</h5></td>
                    <td class="text-center"><h5 class="letter" id="y" onclick="changeColor(this)">Y</h5></td>
                </tr>
                <tr>
                    <td class="text-center"><h5 class="letter" id="z" onclick="changeColor(this)">Z</h5></td>
                </tr>
            </table>
            <br>
            <div style="margin: auto; width: auto">
                <button id="restartBtn" onclick="restart()" class="btn btn-primary btn-xl rounded-pill mt-5 text-white">Restart</button>
            </div>
        </div>
        <!--AI area-->
        <div class="column">
            <div id ="superContainer" style="float: right">
                <h2 id="cpuHeader" style="text-align: right" >Computer</h2>
                <div id = "cpuContainer">

                </div>
            </div>
        </div>
    </div>
</header>



<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Team Lime</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>